@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: Continuum, 'Actor', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Continuum,'Actor', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
}


* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Continuum';
  src: url('../assets/contm.ttf');
}